/venv/Lib/site-packages/pygame/__pyinstaller/__init__.py
/venv/Lib/site-packages/pygame/_sdl2/__init__.py
/venv/Lib/site-packages/pygame/docs/__init__.py
/venv/Lib/site-packages/pygame/examples/__init__.py
/venv/Lib/site-packages/pygame/tests/test_utils/__init__.py
/venv/Lib/site-packages/pygame/tests/__init__.py
/venv/Lib/site-packages/pygame/threads/__init__.py
/venv/Lib/site-packages/pygame/__init__.py
/venv/Lib/site-packages/pygame/_sdl2/__init__.pyi
/venv/Lib/site-packages/pygame/__init__.pyi
/venv/Lib/site-packages/pygame/docs/__main__.py
/venv/Lib/site-packages/pygame/tests/__main__.py
/venv/Include/site/python3.8/pygame/_camera.h
/venv/Lib/site-packages/pygame/_camera_opencv_highgui.py
/venv/Lib/site-packages/pygame/_camera_vidcapture.py
/venv/Lib/site-packages/pygame/_dummybackend.py
/venv/Lib/site-packages/pygame/_freetype.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/_numpysndarray.py
/venv/Lib/site-packages/pygame/_numpysurfarray.py
/venv/Include/site/python3.8/pygame/include/_pygame.h
/venv/Include/site/python3.8/pygame/_pygame.h
/venv/Lib/site-packages/pygame/_sprite.cp38-win_amd64.pyd
/venv/Include/site/python3.8/pygame/_surface.h
/venv/Lib/site-packages/pygame/examples/aacircle.py
/venv/Lib/site-packages/pygame/examples/aliens.py
/venv/Lib/site-packages/pygame/examples/arraydemo.py
/venv/Lib/site-packages/pygame/tests/test_utils/arrinter.py
/venv/Lib/site-packages/pygame/tests/test_utils/async_sub.py
/venv/Lib/site-packages/pygame/_sdl2/audio.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/examples/audiocapture.py
/venv/Lib/site-packages/pygame/tests/base_test.py
/venv/Include/site/python3.8/pygame/include/bitmask.h
/venv/Lib/site-packages/pygame/examples/blend_fill.py
/venv/Lib/site-packages/pygame/examples/blit_blends.py
/venv/Lib/site-packages/pygame/tests/blit_test.py
/venv/Lib/site-packages/pygame/tests/bufferproxy_test.py
/venv/Lib/site-packages/pygame/tests/test_utils/buftools.py
/venv/Include/site/python3.8/pygame/camera.h
/venv/Lib/site-packages/pygame/examples/camera.py
/venv/Lib/site-packages/pygame/tests/camera_test.py
/venv/Lib/site-packages/pygame/tests/cdrom_tags.py
/venv/Lib/site-packages/pygame/tests/cdrom_test.py
/venv/Lib/site-packages/pygame/examples/chimp.py
/venv/Lib/site-packages/pygame/tests/color_test.py
/venv/Lib/site-packages/pygame/tests/compat_test.py
/venv/Lib/site-packages/pygame/tests/constants_test.py
/venv/Lib/site-packages/pygame/_sdl2/controller.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/examples/cursors.py
/venv/Lib/site-packages/pygame/tests/cursors_test.py
/venv/Lib/site-packages/pygame/tests/display_test.py
/venv/Lib/site-packages/pygame/draw_py.py
/venv/Lib/site-packages/pygame/tests/draw_test.py
/venv/Lib/site-packages/pygame/examples/dropevent.py
/venv/Lib/site-packages/pygame/tests/test_utils/endian.py
/venv/Lib/site-packages/pygame/event.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/event.pyi
/venv/Lib/site-packages/pygame/tests/event_test.py
/venv/Lib/site-packages/pygame/examples/eventlist.py
/venv/Lib/site-packages/pygame/fastevent.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/fastevent.pyi
/venv/Lib/site-packages/pygame/tests/fastevent_tags.py
/venv/Lib/site-packages/pygame/tests/fastevent_test.py
/venv/Include/site/python3.8/pygame/fastevents.h
/venv/Lib/site-packages/pygame/examples/fastevents.py
/venv/Lib/site-packages/pygame/font.cp38-win_amd64.pyd
/venv/Include/site/python3.8/pygame/font.h
/venv/Lib/site-packages/pygame/font.pyi
/venv/Lib/site-packages/pygame/tests/font_tags.py
/venv/Lib/site-packages/pygame/tests/font_test.py
/venv/Lib/site-packages/pygame/examples/font_viewer.py
/venv/Lib/site-packages/pygame/examples/fonty.py
/venv/Lib/site-packages/pygame/freesansbold.ttf
/venv/Include/site/python3.8/pygame/freetype.h
/venv/Lib/site-packages/pygame/freetype.py
/venv/Lib/site-packages/pygame/freetype.pyi
/venv/Lib/site-packages/pygame/examples/freetype_misc.py
/venv/Lib/site-packages/pygame/tests/freetype_tags.py
/venv/Lib/site-packages/pygame/tests/freetype_test.py
/venv/Lib/site-packages/pygame/ftfont.py
/venv/Lib/site-packages/pygame/tests/ftfont_tags.py
/venv/Lib/site-packages/pygame/tests/ftfont_test.py
/venv/Lib/site-packages/pygame/gfxdraw.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/gfxdraw.pyi
/venv/Lib/site-packages/pygame/tests/gfxdraw_test.py
/venv/Lib/site-packages/pygame/examples/glcube.py
/venv/Lib/site-packages/pygame/examples/headless_no_windows_needed.py
/venv/Lib/site-packages/pygame/__pyinstaller/hook-pygame.py
/venv/Lib/site-packages/pygame/image.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/image.pyi
/venv/Lib/site-packages/pygame/tests/image__save_gl_surface_test.py
/venv/Lib/site-packages/pygame/tests/image_tags.py
/venv/Lib/site-packages/pygame/tests/image_test.py
/venv/Lib/site-packages/pygame/imageext.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/tests/imageext_tags.py
/venv/Lib/site-packages/pygame/tests/imageext_test.py
/venv/Lib/site-packages/pygame/joystick.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/joystick.pyi
/venv/Lib/site-packages/pygame/tests/joystick_test.py
/venv/Lib/site-packages/pygame/key.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/key.pyi
/venv/Lib/site-packages/pygame/tests/key_test.py
/venv/Lib/site-packages/pygame/libFLAC-8.dll
/venv/Lib/site-packages/pygame/libfreetype-6.dll
/venv/Lib/site-packages/pygame/libjpeg-9.dll
/venv/Lib/site-packages/pygame/libmodplug-1.dll
/venv/Lib/site-packages/pygame/libmpg123-0.dll
/venv/Lib/site-packages/pygame/libogg-0.dll
/venv/Lib/site-packages/pygame/libopus-0.dll
/venv/Lib/site-packages/pygame/libopusfile-0.dll
/venv/Lib/site-packages/pygame/libpng16-16.dll
/venv/Lib/site-packages/pygame/libtiff-5.dll
/venv/Lib/site-packages/pygame/libvorbis-0.dll
/venv/Lib/site-packages/pygame/libvorbisfile-3.dll
/venv/Lib/site-packages/pygame/libwebp-7.dll
/venv/Lib/site-packages/pygame/examples/liquid.py
/venv/Lib/site-packages/pygame/locals.py
/venv/Lib/site-packages/pygame/docs/logos.html
/venv/Lib/site-packages/pygame/macosx.py
/venv/Lib/site-packages/pygame/mask.cp38-win_amd64.pyd
/venv/Include/site/python3.8/pygame/mask.h
/venv/Lib/site-packages/pygame/examples/mask.py
/venv/Lib/site-packages/pygame/mask.pyi
/venv/Lib/site-packages/pygame/tests/mask_test.py
/venv/Lib/site-packages/pygame/math.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/math.pyi
/venv/Lib/site-packages/pygame/tests/math_test.py
/venv/Lib/site-packages/pygame/examples/midi.py
/venv/Lib/site-packages/pygame/midi.py
/venv/Lib/site-packages/pygame/midi.pyi
/venv/Lib/site-packages/pygame/tests/midi_test.py
/venv/Lib/site-packages/pygame/_sdl2/mixer.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/mixer.cp38-win_amd64.pyd
/venv/Include/site/python3.8/pygame/mixer.h
/venv/Lib/site-packages/pygame/mixer.pyi
/venv/Lib/site-packages/pygame/mixer_music.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/tests/mixer_music_tags.py
/venv/Lib/site-packages/pygame/tests/mixer_music_test.py
/venv/Lib/site-packages/pygame/tests/mixer_tags.py
/venv/Lib/site-packages/pygame/tests/mixer_test.py
/venv/Lib/site-packages/pygame/mouse.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/mouse.pyi
/venv/Lib/site-packages/pygame/tests/mouse_test.py
/venv/Lib/site-packages/pygame/examples/moveit.py
/venv/Lib/site-packages/pygame/music.pyi
/venv/Lib/site-packages/pygame/examples/music_drop_fade.py
/venv/Lib/site-packages/pygame/newbuffer.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/examples/overlay.py
/venv/Lib/site-packages/pygame/tests/overlay_tags.py
/venv/Lib/site-packages/pygame/tests/overlay_test.py
/venv/Include/site/python3.8/pygame/palette.h
/venv/Include/site/python3.8/pygame/pgarrinter.h
/venv/Include/site/python3.8/pygame/pgbufferproxy.h
/venv/Include/site/python3.8/pygame/include/pgcompat.h
/venv/Include/site/python3.8/pygame/pgcompat.h
/venv/Include/site/python3.8/pygame/include/pgimport.h
/venv/Include/site/python3.8/pygame/pgimport.h
/venv/Include/site/python3.8/pygame/pgopengl.h
/venv/Include/site/python3.8/pygame/include/pgplatform.h
/venv/Include/site/python3.8/pygame/pgplatform.h
/venv/Lib/site-packages/pygame/pixelarray.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/examples/pixelarray.py
/venv/Lib/site-packages/pygame/pixelarray.pyi
/venv/Lib/site-packages/pygame/tests/pixelarray_test.py
/venv/Lib/site-packages/pygame/pixelcopy.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/pixelcopy.pyi
/venv/Lib/site-packages/pygame/tests/pixelcopy_test.py
/venv/Lib/site-packages/pygame/pkgdata.py
/venv/Lib/site-packages/pygame/examples/playmus.py
/venv/Lib/site-packages/pygame/tests/test_utils/png.py
/venv/Lib/site-packages/pygame/portmidi.dll
/venv/Lib/site-packages/pygame/examples/prevent_display_stretching.py
/venv/Lib/site-packages/pygame/py.typed
/venv/Include/site/python3.8/pygame/include/pygame.h
/venv/Include/site/python3.8/pygame/pygame.h
/venv/Lib/site-packages/pygame/pygame.ico
/venv/Include/site/python3.8/pygame/include/pygame_bufferproxy.h
/venv/Include/site/python3.8/pygame/include/pygame_font.h
/venv/Include/site/python3.8/pygame/include/pygame_freetype.h
/venv/Lib/site-packages/pygame/pygame_icon.bmp
/venv/Lib/site-packages/pygame/pygame_icon.icns
/venv/Lib/site-packages/pygame/pygame_icon.svg
/venv/Lib/site-packages/pygame/pygame_icon.tiff
/venv/Lib/site-packages/pygame/docs/pygame_logo.gif
/venv/Include/site/python3.8/pygame/include/pygame_mask.h
/venv/Include/site/python3.8/pygame/include/pygame_mixer.h
/venv/Lib/site-packages/pygame/docs/pygame_powered.gif
/venv/Lib/site-packages/pygame/docs/pygame_small.gif
/venv/Lib/site-packages/pygame/docs/pygame_tiny.gif
/venv/Lib/site-packages/pygame/pypm.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/examples/README.rst
/venv/Lib/site-packages/pygame/rect.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/rect.pyi
/venv/Lib/site-packages/pygame/tests/rect_test.py
/venv/Lib/site-packages/pygame/examples/resizing_new.py
/venv/Lib/site-packages/pygame/tests/test_utils/run_tests.py
/venv/Lib/site-packages/pygame/rwobject.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/tests/rwobject_test.py
/venv/Lib/site-packages/pygame/examples/scaletest.py
/venv/Lib/site-packages/pygame/scrap.cp38-win_amd64.pyd
/venv/Include/site/python3.8/pygame/scrap.h
/venv/Lib/site-packages/pygame/scrap.pyi
/venv/Lib/site-packages/pygame/examples/scrap_clipboard.py
/venv/Lib/site-packages/pygame/tests/scrap_tags.py
/venv/Lib/site-packages/pygame/tests/scrap_test.py
/venv/Lib/site-packages/pygame/examples/scroll.py
/venv/Lib/site-packages/pygame/_sdl2/sdl2.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/SDL2.dll
/venv/Lib/site-packages/pygame/SDL2_image.dll
/venv/Lib/site-packages/pygame/SDL2_mixer.dll
/venv/Lib/site-packages/pygame/SDL2_ttf.dll
/venv/Lib/site-packages/pygame/examples/setmodescale.py
/venv/Lib/site-packages/pygame/sndarray.py
/venv/Lib/site-packages/pygame/sndarray.pyi
/venv/Lib/site-packages/pygame/tests/sndarray_tags.py
/venv/Lib/site-packages/pygame/tests/sndarray_test.py
/venv/Lib/site-packages/pygame/examples/sound.py
/venv/Lib/site-packages/pygame/examples/sound_array_demos.py
/venv/Lib/site-packages/pygame/sprite.py
/venv/Lib/site-packages/pygame/sprite.pyi
/venv/Lib/site-packages/pygame/tests/sprite_test.py
/venv/Lib/site-packages/pygame/examples/sprite_texture.py
/venv/Include/site/python3.8/pygame/include/sse2neon.h
/venv/Lib/site-packages/pygame/examples/stars.py
/venv/Lib/site-packages/pygame/surface.cp38-win_amd64.pyd
/venv/Include/site/python3.8/pygame/surface.h
/venv/Lib/site-packages/pygame/surface.pyi
/venv/Lib/site-packages/pygame/tests/surface_test.py
/venv/Lib/site-packages/pygame/surfarray.py
/venv/Lib/site-packages/pygame/surfarray.pyi
/venv/Lib/site-packages/pygame/tests/surfarray_tags.py
/venv/Lib/site-packages/pygame/tests/surfarray_test.py
/venv/Lib/site-packages/pygame/surflock.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/tests/surflock_test.py
/venv/Lib/site-packages/pygame/sysfont.py
/venv/Lib/site-packages/pygame/tests/sysfont_test.py
/venv/Lib/site-packages/pygame/tests/test_utils/test_machinery.py
/venv/Lib/site-packages/pygame/tests/test_utils/test_runner.py
/venv/Lib/site-packages/pygame/tests/test_test_.py
/venv/Lib/site-packages/pygame/examples/testsprite.py
/venv/Lib/site-packages/pygame/examples/textinput.py
/venv/Lib/site-packages/pygame/tests/threads_test.py
/venv/Lib/site-packages/pygame/time.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/time.pyi
/venv/Lib/site-packages/pygame/tests/time_test.py
/venv/Lib/site-packages/pygame/_sdl2/touch.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/_sdl2/touch.pyi
/venv/Lib/site-packages/pygame/tests/touch_tags.py
/venv/Lib/site-packages/pygame/tests/touch_test.py
/venv/Lib/site-packages/pygame/transform.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/transform.pyi
/venv/Lib/site-packages/pygame/tests/transform_test.py
/venv/Lib/site-packages/pygame/version.py
/venv/Lib/site-packages/pygame/version.pyi
/venv/Lib/site-packages/pygame/tests/version_test.py
/venv/Lib/site-packages/pygame/examples/vgrade.py
/venv/Lib/site-packages/pygame/_sdl2/video.cp38-win_amd64.pyd
/venv/Lib/site-packages/pygame/examples/video.py
/venv/Lib/site-packages/pygame/tests/video_test.py
/venv/Lib/site-packages/pygame/zlib1.dll
